{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between mb-2">
        <h1>Tableau de client</h1>
        <div class="input-group w-50">
              <span class="input-group-text" id="basic-addon1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                </svg>
              </span>
            <input type="text" class="form-control"  id="search_client" placeholder="Recherche" aria-label="Input group example" aria-describedby="basic-addon1">
        </div>
    </div>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Vile</th>
            <th>Téléphone</th>
            <th>Véhicule</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr class="client_row">
                <td>{%if client.isCasseCouille %} <img height="40" src="{{ asset('build/skull.png') }}" alt="connard"> {%endif%}</td>
                <td><a class="no_decoration" href="{{ path('app_client_show', {'id': client.id}) }}">{{ client.fname }}</a></td>
                <td><a class="no_decoration" href="{{ path('app_client_show', {'id': client.id}) }}">{{ client.lname }}</a></td>
                <td>{{ client.city }}</td>
                <td>{{ client.phone }}</td>
                <td>
                    <ul>
                        {% for vehicule in client.vehicule%}
                            <li><a href="{{path('app_vehicule_show', {'id': vehicule.id}) }}">{{vehicule.name}} {{vehicule.immatriculation}}</li>
                        {% endfor%}
                    </ul>
                </td>
            </tr>
            </a>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('app_client_new') }}">Nouveau client</a>
{% endblock %}
{% block javascripts %}
    <script>
        $( document ).ready(function() {
            $("#search_client").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("table tr").each(function(index) {
                    if (index !== 0) {
                        $row = $(this);
                        var tdElement = $row.find("td");
                        var hide = false
                        for(i = 0; i < tdElement.length; i++){
                            var string = tdElement[i].innerText.toLowerCase();
                            if (string.includes(value)){
                                hide = true;
                            }
                        }
                        if (!hide) {
                            $row.hide();
                        }
                        else {
                            $row.show();
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
